.classpath
.project
.settings
target
*.log
*.log.
thrift-generated-src-python/
thrift-generated-src-perl/
thrift-generated-src-java/
thrift-generated-src-ruby/
thrift-generated-src-cpp/
src/main/java/py/thrift/**
**/*.o
**/*.so
/bin
/target
*.iml
.idea/
